{% extends "base.html" %}
{% block style %}
#form{
    width: 50%;
    margin:0 auto;
}

#options,
#options-label,
#add-trans-button,
#add-deposit-trans-button,
.withdraw-transaction-ids,
.shop-ids,
.date,
.date-deposit,
.deposit-transaction-ids,
.withdraw-transaction-label,
.deposit-transaction-label{
    display: none;
}

.btn{
    margin-top:10px;
}

.input-group, .input-group2{
  display:flex;
  gap: 10px;
}


{% endblock %}

{% block content %}
<form id="form">
  <div  class="form-group">
    <label for="id">Id klienta*:</label>
    <input class="form-control"  type="text" name="id" id="id" oninput="checkRequired()" required/>
    <label for="name" >Imię klienta*:</label>
    <input class="form-control"  type="text" name="name" id="name" oninput="checkRequired()"  required/>
    <label for="acct_id">Id konta:</label>
    <input class="form-control"  type="text"  name="acct_id" id="acct_id" oninput="accChange(this.value)"/>

    <label for="options" id="options-label">Dostęp do konta:</label>
    <select class="form-control"  id="options" name="acct_role">
      <option value="primary">Podstowowy</option>
      <option value="limited">Ograniczony</option>
    </select>
    <label for="first-withdraw-transaction-id" class="withdraw-transaction-label">Id transakcji obciążającej konto klienta:</label>
    <div class="input-group" id="input-group">
      <input type="text" class="withdraw-transaction-ids form-control" id="first-withdraw-transaction-id" placeholder="Id transakcji"/>
      <input type="text" class="shop-ids form-control" id="shop-id" placeholder="Id sklepu"/>
      <input type="date" class="date form-control" id="date" placeholder="Data"/>
    </div>
    <input type="button" class="btn btn-light" id="add-trans-button" onclick="addTransaction()" value="Dodaj transakcję"/>

    <label for="first-deposit-transaction-id" class="deposit-transaction-label">Id transakcji zasilającej konto klienta:</label>
    <div class="input-group2" id="input-group2">
      <input type="text" class="deposit-transaction-ids form-control" id="first-deposit-transaction-id"/>
      <input type="date" class="date-deposit form-control" id="date-deposit" placeholder="Data"/>
    </div>

    <input type="button" class="btn btn-light" id="add-deposit-trans-button" onclick="addDepositTransaction()" value="Dodaj transakcję"/>
  </div>
  <div  class="form-group">
    <label for="first-loan" class="loan-label">Id kredytu:</label>
    <input type="text" id="first-loan" class="loan form-control"/>
    <input type="button" class="btn btn-light"  id="add-credit-button" onclick="addCredit()" value="Dodaj kredyt"/>
  <div  class="form-group">

  </div>
    <label for="cc-num" >Id Karty Kredytowej:</label>
    <input type="text" id="cc-num" name="cc_num" class="form-control"/>

    <input type="submit" class="btn btn-primary" id="submit" disabled value="Zatwierdź"/>
  </div>
</form>

{% endblock %}

{% block script %}
  <script>
    const form = document.querySelector('#form');

    function addCredit(){
      const prev = document.querySelector('#add-credit-button');
      const span = document.querySelector('.loan-label').cloneNode(true);
      const input = document.querySelector('.loan').cloneNode(true);
      input.value = '';
      prev.parentNode.insertBefore(span,prev);
      prev.parentNode.insertBefore(input,prev);
    }

    function addTransaction(){
      const prev = document.querySelector('#add-trans-button');
      const span = document.querySelector('.withdraw-transaction-label').cloneNode(true);
      const inputs = document.querySelector('#input-group').cloneNode(true);
      inputs.querySelectorAll('input').forEach(elem=>elem.value = '');
      prev.parentNode.insertBefore(span,prev);
      prev.parentNode.insertBefore(inputs,prev);
    }

    function addDepositTransaction(){
      const prev = document.querySelector('#add-deposit-trans-button');
      const span = document.querySelector('.deposit-transaction-label').cloneNode(true);
      const inputs = document.querySelector('#input-group2').cloneNode(true);
      inputs.querySelectorAll('input').forEach(elem=>elem.value = '');
      prev.parentNode.insertBefore(span,prev);
      prev.parentNode.insertBefore(inputs,prev);
    }

    function accChange($event){
      const display = $event == '' ? 'none' : 'block';
      document.querySelector('#options').style.display = display
      document.querySelector('#options-label').style.display = display;
      document.querySelector('#add-trans-button').style.display = display;
      document.querySelector('#add-deposit-trans-button').style.display = display;
      document.querySelectorAll('.withdraw-transaction-label').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.withdraw-transaction-ids').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.shop-ids').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.date').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.date-deposit').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.deposit-transaction-label').forEach(elem=> elem.style.display = display);
      document.querySelectorAll('.deposit-transaction-ids').forEach(elem=> elem.style.display = display);
    }

    async function submit($event) {
        $event.preventDefault();
        const data = new FormData($event.target);
        const withdraw = [...document.querySelectorAll('.withdraw-transaction-ids')].map(input=>input.value);
        const shop =  [...document.querySelectorAll('.shop-ids')].map(input=>input.value);
        const date =  [...document.querySelectorAll('.date')].map(input=>input.value);
        const date2 =  [...document.querySelectorAll('.date-deposit')].map(input=>input.value);
        const deposit = [...document.querySelectorAll('.deposit-transaction-ids')].map(input=>input.value);
        const dataObject = {
          ...Object.fromEntries(data.entries()),
          withdraw_transactions: withdraw.map((trans,i)=>({transaction:trans, shop:shop[i],date:date[i]})),
          deposit_transactions: deposit.map((trans,i)=>({transaction:trans,date:date2[i]})),
          loan_ids: [...document.querySelectorAll('.loan')].map(input=>input.value)
        };
        await fetch('{{ url_for("add_customer") }}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataObject)
        }).then(response => { if (response.redirected) { window.location.href = response.url; } });
    }

    function checkRequired(){
      const name = document.querySelector('#name');
      const id = document.querySelector('#id');
        document.querySelector('#submit').disabled = name.value === '' || id.value === '';
    }

    form.addEventListener('submit', submit);

  </script>
{% endblock %}